/*=========================UISearchForm===================================*/
.uiSearch {
  margin: 0 0 16px 0;
}
.uiSearch .quickSet input[type="text"] {
  margin: 0 8px 0 5px;
  width: 200px;
}
.uiSearch .quickSet .uiSelectbox {
  width: 145px;
  margin: 0 8px 0 5px;
  vertical-align: middle;
}
.uiSearch .quickSet .uiSelectbox .selectbox {
  width: 148px;
}